<mat-sidenav-container style="min-height: 100vh;">

  <mat-sidenav #sidenav>
    <mat-list>
      <mat-list-item [routerLink]="['/page1']"> page1</mat-list-item>
      <mat-list-item [routerLink]="['/page2']"> page2</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <div fxLayout="column" style="min-height: 100vh;" fxLayoutGap="32px">
    <app-header [sidenav]="sidenav"></app-header>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </div>
</mat-sidenav-container>

<!--
https://blog.angularindepth.com/angular-flex-layout-flexbox-and-grid-layout-for-angular-component-6e7c24457b63
-->
