
<div fxLayout="row" fxLayoutAlign="center center">

<mat-card [formGroup]="loginForm">
  <mat-card-title>
    Login
  </mat-card-title>
  <mat-card-content fxLayout="column">
    <mat-form-field fxFlex>
      <input formControlName="username" matInput placeholder="Enter your username" />
    </mat-form-field>
    <mat-form-field fxFlex>
      <input formControlName="password" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <button mat-button class="login-button" (click)="login()">
      <mat-icon>input</mat-icon> Login
    </button>
  </mat-card-content>
</mat-card>

</div>

