
<div fxLayout="column">

<mat-card fxLayoutAlign=”flex-center” style="width: 200px;">
  <mat-card-title>
    Login
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Enter your username" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <button md-raised-button class="login-button">
      <mat-icon>input</mat-icon> Login
    </button>
  </mat-card-content>
</mat-card>

</div>

<!--
https://blog.angularindepth.com/angular-flex-layout-flexbox-and-grid-layout-for-angular-component-6e7c24457b63
-->
