<mat-toolbar role="heading">
  <button
    type="button"
    mat-icon-button
    (click)="sidenav.open()"
    title="Open sidenav">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Apollo</span>
  <span style="flex: 1 1 auto;"></span>
  <button mat-icon-button [routerLink]="['/page1']"><mat-icon>looks_one</mat-icon></button>
  <button mat-icon-button [routerLink]="['/page2']"><mat-icon>looks_two</mat-icon></button>
  <button mat-icon-button [routerLink]="['/page3']"><mat-icon>looks_3</mat-icon></button>
  <button mat-icon-button [routerLink]="['/login']"><mat-icon>input</mat-icon></button>
</mat-toolbar>


