<mat-toolbar role="heading">
  <span>Apollo</span>
  <span class="fill-remaining-space"></span>
  <mat-icon>mood</mat-icon>
  <mat-icon>core-inline</mat-icon>
  <mat-icon svgIcon="bike"></mat-icon>
  <button mat-icon-button [routerLink]="['/page1']">page1</button>
  <button mat-icon-button [routerLink]="['/page2']">page2</button>
  <button mat-icon-button [routerLink]="['/page3']">page3</button>
  <button mat-icon-button [routerLink]="['/login']"><mat-icon>input</mat-icon></button>
  <button mat-icon-button [routerLink]="['/login']"><mat-icon>bike</mat-icon></button>
  <button mat-icon-button [routerLink]="['/login']"><mat-icon>bike</mat-icon></button>
</mat-toolbar>


